# Xcode
DerivedData/
.build/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate

# SwiftPM
Packages/
Package.resolved

# macOS
.DS_Store

# Logs
*.log

# Build
build/

# User settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Temporary files
*.swp
*.tmp